<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
    </div>
    <div class="navbar-container w-container">
        <a href="#" class="logo w-nav-brand">
            <img src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f68bfac914f269a449739f_Artboard%203%400.5x.png" width="202.5" class="image">
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="#console" class="navbar-links w-nav-link w--current" style="max-width: 728px;">CONSOLE</a>
            <a href="#joycon" class="navbar-links w-nav-link" style="max-width: 728px;">JOY-CON</a>
            <a href="#multiplayer" class="navbar-links w-nav-link" style="max-width: 728px;">MULTIPLAYER</a>
            <a href="#games" class="navbar-links w-nav-link" style="max-width: 728px;">GAMES</a>
            <a href="#order-now" class="navbar-links w-nav-link" style="max-width: 728px;">ORDER NOW</a>
        </nav>
    </div>
    <div class="w-nav-overlay" data-wf-ignore=""></div>
</div>
<div class="header-section">
    <div class="container w-container">
        <div class="hero-title-wrapper">
            <h1 data-ix="title-load" class="hero-main-title" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;"> Nintendo <span class="hero-main-title red">Switch</span></h1>
            <div data-ix="title-load-2" class="hero-subtitle" style="opacity: 1; transition: opacity 500ms ease 0s;">
                Freedom to have fun. Wherever. Whenever.
            </div><a href="#console" data-ix="title-load-3" class="hero-action-button w-button w--current" style="transition: background-color 0.2s ease 0s, opacity 500ms ease 0s; opacity: 1;">Discover more</a>
        </div><img
            src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f5f1eda6d9590b4ebea0fd_console%20front%20small.png"
            data-ix="hero-switch-load"
            srcset="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f5f1eda6d9590b4ebea0fd_console%20front%20small-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f5f1eda6d9590b4ebea0fd_console%20front%20small-p-800.png 800w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f5f1eda6d9590b4ebea0fd_console%20front%20small-p-1080.png 1080w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f5f1eda6d9590b4ebea0fd_console%20front%20small.png 1428w"
            sizes="(max-width: 991px) 100vw, 70vw" class="hero-nintendo-switch"
            style="transition: transform 0.2s ease 0s, top 0.3s ease 0s, -webkit-transform 0.2s ease 0s, opacity 800ms ease 0s, transform 800ms ease 0s; opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px);">
    </div>
</div>
<div id="console" class="console-section">
    <div class="container w-container">
        <div class="header-column-row w-row">
            <div class="header-column-left w-col w-col-6"><img
                    src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f61dfdc914f269a4493764_btn02.png"
                    srcset="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f61dfdc914f269a4493764_btn02-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f61dfdc914f269a4493764_btn02-p-800.png 800w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f61dfdc914f269a4493764_btn02.png 950w"
                    sizes="(max-width: 479px) 87vw, (max-width: 767px) 91vw, 800px" class="nintendo-switch-front">
            </div>
            <div class="header-column-right w-col w-col-6">
                <div class="header text-wrapper">
                    <div class="grey section-upper-title">NINTENDO SWITCH</div>
                    <h1 class="section-title"><span class="red section-title">Switch</span> up your gaming style</h1>
                    <p class="section-description">The future of gaming is here! The new Nintendo Switch is a new hybrid system that allows you to take your home console on the go!</p>
                    <div class="switch-order-button">
                        <div class="nintendo-switch-order-text">Check out the Nintendo Switch<br>now!</div><a
                            href="#" class="hero-video-lightbox w-inline-block w-lightbox"><img
                                src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f61968b45a921b9e5e51fc_keyboard%20right%20arrow%20button.svg"
                                class="switch-buy-button-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="joycon" class="section-joy-con">
    <div class="container w-container">
        <div class="joycon-info-row w-row">
            <div class="joycon-info-column-left w-col w-col-6">
                <div class="text-wrapper">
                    <div class="section-upper-title">JOY-CON CONTROLLERS</div>
                    <h1 class="section-title">Take control</h1>
                    <p class="section-description">Take control of your game with the next generation of motion controllers. Slide the Joy Con into the gamepad or use two separate for total control.&nbsp;
                    </p>
                    <div class="joycon-info-row-2 w-row">
                        <div class="joycon-info-column-2 w-col w-col-6">
                            <div class="joy-con-info-title">HD Rumble</div>
                            <p class="joy-con-info-paragraph">HD Rumble will immerse you further into the game.</p>
                        </div>
                        <div class="joycon-info-column-2 w-col w-col-6">
                            <div class="joy-con-info-title">Multiplayer</div>
                            <p class="joy-con-info-paragraph">Give one Joy-Con to you friend for Multiplayer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="joycon-info-column-right w-col w-col-6"><img
                    src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f62776149b3b1bb222c5f9_hero-table-joyconl.png"
                    width="300" class="joycon-1"><img
                    src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f627769c7eea539b8145e2_hero-table-joyconr.png"
                    width="440" class="joycon-2"></div>
        </div>
    </div>
</div>
<div class="features-section">
    <div class="container w-container">
        <div class="switch-features-row w-row">
            <div class="switch-features-column w-col w-col-4"><img
                    src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67a40debda71c73840589_icon-eshop.png"
                    class="features-icon">
                <div class="feature-title">Nintendo eShop</div>
                <p class="features-description">You can buy digital versions of games from Nintendo eShop on your Nintendo&nbsp;Switch system or from the Nintendo website.</p>
            </div>
            <div class="switch-features-column w-col w-col-4"><img
                    src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67a40b45a921b9e5e7c2b_icon-album.png"
                    class="features-icon">
                <div class="feature-title">Album</div>
                <p class="features-description">Easily take and save screenshots using the Capture Button on the left Joy-Con. Then view, add text, and share to social networks from your album.</p>
            </div>
            <div class="switch-features-column w-col w-col-4"><img
                    src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67a40149b3b1bb222eac3_icon-news.png"
                    class="features-icon">
                <div class="feature-title">News and announcements</div>
                <p class="features-description">Get the latest updates on game releases, Nintendo events, announcements, and more, with your free Nintendo Account.</p>
            </div>
        </div>
    </div>
</div>
<div id="multiplayer" class="large-image-section"></div>
<div class="multiplayer-section">
    <div class="container-multiplayer w-container">
        <div data-ix="scroll-load" class="div-block" style="opacity: 0; transform: translateX(0px) translateY(30px) translateZ(0px);">
            <div class="section-upper-title">MULTIPLAYER</div>
            <h1 class="section-title">Unlimited portability</h1>
            <p class="paragraph">Gaming on the go has never been this easy and fun! Simply slide of the Joy-Cons and get ready for some intense multiplayer action with games like Mario Kart 8 deluxe or Splatoon 2.</p>
        </div>
    </div>
</div>
<div class="mario-kart-section">
    <div class="container w-container">
        <div class="joycon-info-row w-row">
            <div class="joycon-info-column-left w-col w-col-6">
                <img
                    src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67f51aa1ab6491f477ebe_Mario_Artwork_for_MK8.png"
                    srcset="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67f51aa1ab6491f477ebe_Mario_Artwork_for_MK8-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67f51aa1ab6491f477ebe_Mario_Artwork_for_MK8-p-800.png 800w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67f51aa1ab6491f477ebe_Mario_Artwork_for_MK8.png 854w"
                    sizes="(max-width: 479px) 52vw, (max-width: 767px) 55vw, (max-width: 991px) 45vw, 460px"
                    class="mariokart-8-image"
                >
            </div>
            <div class="joycon-info-column-right w-col w-col-6">
                <div class="text-wrapper">
                    <div class="section-upper-title">MARIO KART 8</div>
                    <h1 class="section-title">Race anytime, anywhere!</h1>
                    <p class="section-description">The Mario Kart 8 Deluxe game has dozens of characters to choose from—including newcomers from the&nbsp;Splatoon™ series!</p>
                </div>
                <div class="feature-block">
                    <div class="joy-con-info-title">Deluxe</div>
                    <p class="joy-con-info-paragraph">The definitive and best version of Mario Kart 8.</p><img src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67ef285ceff1c5f406d2e_pGV7GGDrfsW%2Bwt6bP0c01S7ksQsES%2BcS1XmUWWORPhEoOVk71FUNQZ15lAFAZJkdKyuzSdGIFF3xYtBR41kQNL3ADSOoRoVqEY7iOKtGsc7SJJNWq3eL9Y8%2BK%2B2Qj9ssGf8hP0ZOXbCRGoys8R6UxA7EbHjJZFJGDMOlQaQPJgMSui2zz0SBJFYlZg4iREpk1AiSQooAxrFXSRJJ4l2Ua50Uo06GBpu0aHhHUDPH9qlgyoAYBAKQP%2Bt7LL.png" class="feature-gaming-icon">
                </div>
                <div class="feature-block">
                    <div class="joy-con-info-title">New mode</div>
                    <p class="joy-con-info-paragraph">Exciting new battle modes and courses to play on!</p><img src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67eb8c914f269a4496c1b_RJ3Q5CBLgCeEQAgAgBEAIAIABABACIAQAQAiAAAEQAgAgBEAIAIABABACIAQAQAiAAAEQAgAgBEAIAIABABACIAQAQAiAAAEQAgAgBEAIAIABABACIAQAQAiAAAEQAgAgBEAIAIABABACIAQAQAiAAAEQAgAgBEAIAIABABACIAQAQAiAAAEQAgAgBEAIAIABABACIAQAQAiAAAEQAgAgBEAIAIABABAANsxTgqsTljnwAAAABJRU5ErkJ.png" class="feature-gaming-icon">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="games" class="games-section">
    <div class="container w-container">
        <div class="games section-title-wrapper-games">
            <div class="section-upper-title">LINE UP</div>
            <h1 class="section-title">The newest games</h1>
        </div>
        <div data-ix="show-game-banner-overlay" class="mario-kart-8-banner">
            <div data-ix="hide-game-banner-overlay" class="game-banner-overlay" style="opacity: 0; display: none;">
                <div class="botw-info-content-wrapper">
                    <div data-ix="hide-game-banner-title" class="game-banner-title" style="opacity: 0; transform: translateX(0px) translateY(-10px) translateZ(0px);">Mario Kart 8 Deluxe</div>
                    <div data-ix="hide-game-banner-description" class="game-banner-description" style="opacity: 0; transform: translateX(0px) translateY(10px) translateZ(0px);">Out 28 April, 2017</div>
                </div>
            </div>
        </div>
        <div class="game-banner-row w-row">
            <div class="game-banner-column w-col w-col-6">
                <div data-ix="show-game-banner-overlay" class="game-banner-block splatoon">
                    <div data-ix="hide-game-banner-overlay" class="game-banner-overlay"
                        style="opacity: 0; display: none;">
                        <div class="botw-info-content-wrapper">
                            <div data-ix="hide-game-banner-title" class="game-banner-title" style="opacity: 0; transform: translateX(0px) translateY(-10px) translateZ(0px);">Splatoon 2</div>
                            <div data-ix="hide-game-banner-description" class="game-banner-description" style="opacity: 0; transform: translateX(0px) translateY(10px) translateZ(0px);">Out this summer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game-banner-column w-col w-col-6">
                <div data-ix="show-game-banner-overlay" class="_12switch game-banner-block">
                    <div data-ix="hide-game-banner-overlay" class="game-banner-overlay"
                        style="opacity: 0; display: none;">
                        <div class="botw-info-content-wrapper">
                            <div data-ix="hide-game-banner-title" class="game-banner-title" style="opacity: 0; transform: translateX(0px) translateY(-10px) translateZ(0px);">1 2 Switch</div>
                            <div data-ix="hide-game-banner-description" class="game-banner-description" style="opacity: 0; transform: translateX(0px) translateY(10px) translateZ(0px);">Out now!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="order-now" class="display-section">
    <div class="container w-container">
        <div class="joycon-info-row w-row">
            <div class="joycon-info-column-left w-col w-col-6">
                <div class="text-wrapper">
                    <div class="grey section-upper-title">IN STORES</div>
                    <h1 class="section-title">Order your<br><span class="red section-title">Switch</span> now!</h1>
                </div>
                <div class="price">From €299</div><a href="/auth" class="buy-button hero-action-button w-button">Order now</a>
            </div>
            <div class="joycon-info-column-right w-clearfix w-col w-col-6">
                <img
                    src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67812aa1ab6491f477b3a_nintendo%20switch%20small.jpg"
                    data-ix="scroll-load-2"
                    srcset="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67812aa1ab6491f477b3a_nintendo%20switch%20small-p-800.jpeg 800w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67812aa1ab6491f477b3a_nintendo%20switch%20small-p-1080.jpeg 1080w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f67812aa1ab6491f477b3a_nintendo%20switch%20small.jpg 1513w"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 65vw, (max-width: 991px) 66vw, 720px"
                    class="switch-display"
                    style="opacity: 0; transform: translateX(-30px) translateY(0px) translateZ(0px);"
                >
            </div>
        </div>
    </div>
</div>
<div class="upperfooter">
    <div class="container w-container">
        <div class="footer-row w-row">
            <div class="footer-column left w-col w-col-3">
                <img src="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f68a18debda71c73840aa4_Artboard%201%400.5x.png"
                    srcset="https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f68a18debda71c73840aa4_Artboard%201%400.5x-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f68a18debda71c73840aa4_Artboard%201%400.5x-p-800.png 800w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f68a18debda71c73840aa4_Artboard%201%400.5x-p-1080.png 1080w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f68a18debda71c73840aa4_Artboard%201%400.5x-p-1600.png 1600w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f68a18debda71c73840aa4_Artboard%201%400.5x-p-2000.png 2000w, https://daks2k3a4ib2z.cloudfront.net/58f509fb27dc5e3571d8c64b/58f68a18debda71c73840aa4_Artboard%201%400.5x.png 3766w"
                    sizes="70px" class="nintendo-logo"
                >
            </div>
            <div class="footer-column right w-col w-col-9">
                <a href="#console" class="footer-inline-link w--current">CONSOLE</a>
                <a href="#joycon" class="footer-inline-link">JOY-CON</a>
                <a href="#multiplayer" class="footer-inline-link">MULTIPLAYER</a>
                <a href="#games" class="footer-inline-link">GAMES</a>
                <a href="#order-now" class="footer-inline-link">ORDER NOW</a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-text">© All rights belong to Nintendo</div>
</div>